{% for tissus in site.products %}
<div class="product">
  
    
        <a class="product" href="{{ site.baseurl }}{{ tissus.url }}" class="image">
        <img src="{{ tissus.image }}" alt="{{ tissus.name }}" class="thumbnail"/>
        <p>{{ tissus.name }}</p>
        </a>

        <button class="snipcart-add-item"
        data-item-name="{{ tissus.name }}"
        data-item-image="{{ tissus.image }}"
        data-item-url="{{ site.baseurl }}"
        data-item-price="{{ tissus.price }}">
        Buy it for {{ tissus.price }} $
        </button>
    <br /><br />
</div>
{% endfor %}