<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title> <!--appel du titre donnée à la page (dans index) et du titre donné dans le config-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"> <!--ne pas changer l'extension .css-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"> 
<!------------------------------------------------------------------------------->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="NTU2ZmE2MzEtZDgwNy00ZmFhLWJhN2YtZTA4ZjAyYzQxZGNiNjM2MjA5NDY3MTc5MDY4Mzk2"></script>
    <link href="https://cdn.snipcart.com/themes/2.0/base/snipcart.min.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <header>
        {% include header.html %}
    </header>
    <main>
        <h2>{{ page.title }}</h2> 
        <br />
        {{content}} <!--contenu de la page index.md tout simplement-->
        <br />
        <article>
              {% for post in site.posts %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
        </article>
    </main>
    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>