<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }} | {{ site.title }}</title> <!--appel du titre donnée à la page (dans index) et du titre donné dans le config-->
</head>
<body>
    <header>
        {% include header.html %}
    </header>
    <main>
        <h1>{{ page.title }}</h1> 
        {{content}} <!--contenu de la page index.md tout simplement-->
        <article>
              {% for post in site.posts %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
        </article>
    </main>
    <footer>
        {% include footer.html %}
    </footer>
</body>
</html>